@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

<h2>Danh sách Quyền </h2>
<a class="btn btn-primary mb-3" asp-action="CreateRole">Thêm Role mới</a>

@if (Model.Any())
{
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Tên Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                <td>@role.Id</td>
                <td>
                    @{
                        string badgeClass = "bg-success"; 

                        if (role.Name == "Admin")
                        {
                            badgeClass = "bg-danger";  
                        }
                        else if (role.Name == "User")
                        {
                            badgeClass = "bg-primary";  
                        }
                    }
                    <span class="badge @badgeClass" style="font-size: 1rem;">
                        @role.Name
                    </span>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="card">
        <div class="card-header">Chưa có Role nào</div>
        <div class="card-body">
            <h5 class="card-title">Sử dụng nút bên trên để tạo Role</h5>
        </div>
    </div>
}